@import "hamburger";
@media screen and (min-width: 320px) {
  #mobile-menu {
    display: block;
    right: 0px;
  }
  #mobile-previous {
    display: block;
    left: 0px;
  }
  #top-nav {
    display: none;
  }
  #callback {
    display: none;
  }
  .logo {
    text-align: center;
    svg {
    display: inline-block;
      margin-bottom: 5px;
    }
  }
  .technology-container {
    .valign-top {
      display: block;
    }
    .valign-top .column {
      display: block;
      vertical-align: middle;
    }
  }
  .sla {
    .left-box {
      margin-bottom: 30px;
    }
  }
  .outsource {
    text-align: center;
    ul li {
      text-align: left;
    }
  }
  .info {
    h2 {
      text-align: center;
    }
  }
}
@media screen and (min-width: 768px) {
  #mobile-menu {
    right: 25px;
  }
  #mobile-previous {
    left: 25px;
  }
  .sla {
    .left-box {
      margin-bottom: 0px;
    }
  }
  .info {
    h2 {
      text-align: left;
    }
  }
}
@media screen and (min-width: 1024px) {
  .technology-container {
    .valign-top {
      display: table;
    }
    .valign-top .column {
      display: table-cell;
      vertical-align: top;
    }
  }
  #mobile-menu {
    display: none;
  }
  #mobile-previous {
    display: none;
  }
  #top-nav {
    display: table-cell;
  }
  #callback {
    display: table-cell;
  }
  .logo {
    svg {
      display: block;
      margin-bottom: 10px;
    }
  }
  .outsource {
    text-align: left;
  }
}
html, body {
    width: 100%;
    height: 100%;
    font-weight: 300;
}
body::-webkit-scrollbar {
  display: none;
}
:focus {
  outline: none;
}
.cover {
  overflow: hidden;
  border: 10px solid rgba(255,255,255,1);
  .h-1 {
    height: 390px;
    .img {
      min-height: 390px;
    }
  }
  .h-2 {
    height: 550px;
    .img {
      min-height: 550px;
    }
  }
  .h-3 {
    height: 250px;
    .img {
      min-height: 250px;
    }
  }
  .h-4 {
    height: 420px;
    .img {
      min-height: 420px;
    }
  }
  .photo {
    background-size: cover;
    background-position: center;
    width: 100%;
    transition: all 0.5s linear;
  }
}
svg {
  display: block;
}
.hidden {
  overflow: hidden;
}
.valign-middle {
  display: table;
  width: 100%;
  height: 100%;
}

.valign-middle > .column {
  display: table-cell;
  vertical-align: middle;
}

.valign-middle > .column,
.valign-middle [class*="column"] + [class*="column"]:last-child {
  float: none;
}
.valign-clean {
  display: block;
  height: auto;
}
.valign-clean .column {
  display: block;
  vertical-align: baseline;
}
.valign-clean [class*="column"] + [class*="column"]:last-child {
  float: left;
}


.valign-top {
  display: table;
  height: 100%;
}

.valign-top .column {
  display: table-cell;
  vertical-align: top;
}

.valign-top .column,
.valign-top [class*="column"] + [class*="column"]:last-child {
  float: none;
}

header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  z-index: 20;
}
.filter {
}
header.scroll .img {
  background-image: url("../../build/img/batman.jpg");
  background-size: cover;
  background-position: center bottom;
  .filter {
    background-color: rgba(0,18,55,.7);
  }
}
header.active {
  height: 100%;
  .filter {
    background-color: rgba(0,18,55,1);
    height: 100%;
    .row {
      height: 70px;
    }
  }
  #top-nav {
    display: block;
    position: absolute;
    top: 70px;
    right: 0;
  }
  nav a {
    display: block;
  }
}
header.scroll.active {
  height: 100%;
  .filter {
    background-color: rgba(0,18,55,1);
    height: 100%;
    .row {
      height: 70px;
    }
  }
}
.logo {
  padding-top: 16px;
  padding-bottom: 16px;
  svg {
    width: 131px;
  }
  .name {
    fill: rgba(255,255,255,1);
  }
  .infinity {
    fill: rgba(0,138,205,1);
  }
}
.top-nav {
  text-align: center;
  a {
    display: inline-block;
    color: rgba(255,255,255,.8);
    text-transform: uppercase;
    padding: 26px 12px;
    font-weight: 600;
    font-size: 12px;
    transition: color 0.5s ease-in;
  }
  a:hover {
    color: rgba(255,255,255,1);
  }
}
.callback {
  text-align: right;
  a {
    display: inline-block;
    vertical-align: middle;
  }
  .phone-number {
    color: rgba(255,255,255,1);
    font-size: 16px;
    font-weight: 600;
  }
}
.fb-icon {
  margin-left: 10px;
  .fb-1 {
    fill: rgba(52,152,219,1);
  }
  .fb-2 {
    fill: rgba(255,255,255,1);
  }
}
.head {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 90%;
    color: rgba(255,255,255,1);
    .img {
      background-image: url("../../build/img/batman.jpg");
      background-size: cover;
      background-position: center bottom;
      transition: all 0.2s linear;
    }
  h1 {
    font-size: 32px;
    padding: 0;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
  }
  .description {
    color: rgba(255,255,255,1);
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    span.blue-line {
      position: relative;
    }
    span.blue-line:after {
      content: "";
      position: absolute;
      height: 1px;
      background-color: rgba(255,255,255,1);
      top: 15px;
      left: -3%;
      -webkit-animation: blue-line 0.4s 1s linear;
      animation: blue-line 0.4s 1s linear;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
  }
  @-webkit-keyframes blue-line {
    from { width: 0%; }
    to { width: 106%; }
  }
  @keyframes blue-line {
    from { width: 0%; }
    to { width: 106%; }
  }
}

.head  .filter {
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
.wrapper {
  width: 100%;
  height: calc(100% - 70px);
  overflow: hidden;
  .scroll-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
  }
  .scroll-wrapper.scroll {
    overflow-y: scroll;
  }
  .scroll-wrapper::-webkit-scrollbar {
    display: none;
  }
}
.container {
  width: 100%;
  height: auto;
  padding: 52px 0px;
}
.grey {
  background-color: rgba(240,240,240,1);
}
.about .column {
  padding: 0px 10px;
  h3 {
    font-size: 20px;
  }
  .item {
    border: solid 2px rgba(255,255,255,1);
    background-color: rgba(255,255,255,0);
    width: 100%;
    height: 240px;
    padding: 30px 40px;
    font-size: 14px;
    line-height: 16px;
    transition: all 0.5s linear;
    font-weight: 400;
    p {
      color: rgba(119,119,119,1);
    }
  }
  .item:hover {
    background-color: rgba(255,255,255,1);
    cursor: pointer;
  }
}
.title {
  text-align: center;
  font-size: 26px;
  font-weight: 300;
  text-transform: uppercase;
  color: rgba(0,18,55,1);
  margin-bottom: 20px;
}
.description {
  color: rgba(0,0,0,.5);
  text-align: center;
  font-weight: 400;
  margin-bottom: 50px;
}
.content-slider {
  background-color: rgba(0,18,55,1);
  position: relative;
  display: table;
  color: rgba(255,255,255,1);
  text-align: center;
  cursor: default;
  width: 100%;
  .orbit {
    display: table-cell;
    vertical-align: middle;
    .content {
      min-height: 290px;
    }
  }
  .orbit-bullets {
    position: absolute;
    bottom: 25px;
    right: 0;
    left: 0;
    button {
      width: 11px;
      height: 11px;
      border-radius: 50%;
      border: 2px solid rgba(0,171,255,1);
      background-color: rgba(0,171,255,0);
    }
    button.is-active {
      background-color: rgba(0,171,255,1);
    }
  }

  p {
    padding: 0px 40px;
    font-size: 18px;
    line-height: 24px;
    span {
      font-weight: 500;
      display: block;
    }
  }
  .sender {
    padding-top: 40px;
    color: rgba(49,85,155,1);
    span {
      font-size: 12px;
      display: block;
      max-width: 60%;
      margin: 0 auto;
    }
    img {
      display: block;
      margin: 0 auto;
      padding-top: 40px;
    }
  }
}
.big-link {
  padding: 40px 0px 0px 0px;
  text-align: center;
  a{
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: underline;
    color: rgba(0,18,55,1);
  }
  a:hover {
    text-decoration: none;
  }
}
.technology-container {
  margin-top: 30px;
  .description {
    font-size: 18px;
    font-weight: 400;
    color: rgba(0,0,0,.5);
    padding: 30px 0 34px;
    margin-bottom: 0;
  }
}
.technology {
  color: rgba(0,0,0,.5);
  background-color: rgba(255,255,255,1);
  border: solid 1px rgba(240,240,240,1);
  padding: 30px;
  font-weight: 400;
  transition: all 0.5s linear;
  h3 {
    font-size: 20px;
    color:rgba(0,0,0,1);
  }
}
.technology:hover {
  background-color: rgba(255,255,255,0);
  color: rgba(0,0,0,1);
  cursor: pointer;
}
.sla {
  color: rgba(255,255,255,1);
  background-color: rgba(52,152,219,1);
  padding: 45px 35px;
  .left-box {
    font-size: 20px;
    text-transform: uppercase;
    span {
      display: block;
      font-size: 85px;
      line-height: 80px;
      padding-top: 4px;
      font-weight: 200;
    }
  }
  .list ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 400;
    font-size: 14px;
    li {
      padding: 3px 0px;
    }
  }
}
.outsource {
  padding: 0;
  cursor: default;
  color: rgba(255,255,255,1);
  position: relative;
  overflow: hidden;
  .img {
    position: absolute;
    z-index: -1;
    background-image: url("../../build/img/photo6.jpg");
    background-size: cover;
    background-position: center;
    transition: all 0.2s linear;
  }
  .filter {
    background-color: rgba(0,7,21,.7);
    padding: 120px 0px;
  }
  h2 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 300;
  }
  p {
    margin-bottom: 30px;
  }
  a {
    display: inline-block;
    color: rgba(0,171,255,1);
    font-size: 12px;
    font-weight: 500;
    text-decoration: underline;
    text-transform: uppercase;
    margin-right: 30px;
    svg {
      display: inline-block;
      vertical-align: middle;
      fill: rgba(0,171,255,1);
      margin-right: 10px;
    }
  }
  a:hover {
    text-decoration: none;
  }
  .list {
    h2 {
      font-size: 20px;
      font-weight: 300;
      text-transform: none;
      margin-bottom: 20px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 14px;
      li {
        line-height: 36px;
        position: relative;
        padding-left: 22px;
      }
      li:after {
        content: '';
        position: absolute;
        left: 0px;
        top: 50%;
        -webkit-transform: translate(0%,-50%);
        -ms-transform: translate(0%,-50%);
        transform: translate(0%,-50%);
        border: 2px solid rgba(0,171,255,1);
        height: 10px;
        width: 10px;
        border-radius: 50%;
        margin: auto;
      }
    }
  }
}
.info {
  font-weight: 400;
  color: rgba(119,119,119,1);
  p {
    white-space: pre-line;
    margin: 17px 0 25px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    li {
      width: 100%;
      line-height: 45px;
      border-bottom: solid 1px rgba(218,218,218,1);
      position: relative;
    }
    .comming:before {
      content: "СКОРО";
      font-size: 12px;
      font-weight: 400;
      color: rgba(119,119,119,1);
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translate(0%,-50%);
      -ms-transform: translate(0%,-50%);
      transform: translate(0%,-50%);

    }
  }
  h2 {
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    color: rgba(0,18,55,1);
  }
}
.button {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 20px 70px;
  border-radius: 3px;
}
.footer {
  padding: 34px 0px;
  background-color: rgba(0,18,55,1);
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: rgba(255,255,255,1);
  a {
    padding-left: 20px;
    color: rgba(52,152,219,1);
    transition: color 0.5s linear;
  }
  a:hover {
    color: rgba(52,152,219,.8);
  }
}
.crt-form {
  border: 5px solid rgba(52,152,219,1);
  position: relative;
  textarea {
    min-height: 148px;
  }
  h3 {
    margin-bottom: 30px;
  }
}
.crt-form > .row {
  padding: 30px;
}
.crt-form:after {
  content: "";
  height: 4%;
  width: 98%;
  top: 100%;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  border: 3px solid rgba(52,152,219,.3);
}
.img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
#skrollrb {
  height: 100%;
  width: 100%;
}
.icon-set {
  transition: all 0.5s linear;
  overflow: hidden;
  font-size: 18px;
  .icon svg {
    width: 64px;
    height: 64px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .button {
    margin: 0;
    margin-top: 50px;
  }
}
.outsource.en-lang {
  color: rgba(0,0,0,1);
  .filter {
    background-color: rgba(240,240,240,1);
  }
}
.contacts {
  height: 660px;
  position: relative;
  padding: 0;
  color: rgba(255,255,255,1);
  overflow: hidden;
  .img {
    position: absolute;
    top: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    transition: all 0.2s linear;
    background-image: url("../../build/img/contact.jpg");
  }
  .filter {
    background-color: rgba(0,16,26,.4);
    height: 100%;
    position: relative;
  }
  .contact {
    padding: 40px 20px;
    font-size: 18px;
    span {
      display: block;
      padding-bottom: 5px;
    }
  }
  .button {
    margin: 0;
  }
  h2 {
    margin: 0;
    font-weight: 300;
  }
}
#map {
  display: block;
  z-index: -1;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00abff;
  top:0;
  right: 0;
  transition: all 1000ms linear;
  opacity: 0;
  .closemap {
    width: 46px;
    height: 46px;
    border-radius: 46px;
    position: absolute;
    right: 30px;
    top: 30px;
    padding: 16px;
    background-color: rgba(52,152,219,1);
    z-index: 10;
    cursor: pointer;
    svg {
      width: 14px;
      height: 14px;
      fill: none;
      .icon {
        fill: rgba(255,255,255,1);
      }
    }
  }
}
#map.open {
  visibility: visible;
  z-index: 1;
  opacity: 1;
}
.footer {
  i{
    font-size: 26px;
    font-weight: 300;
    line-height: 12px;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 4px;
  }
}
.folio {
  padding: 0;
}
.one {
  background-color: #00abff;
}
.two {
  background-color: #00d6b2;
}
.thee {
  background-color: #000066;
}
.grid {
  position: relative;
  background-color: rgba(0,15,45,1);
}
.grid-item .image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.grid-item .image .filter {
  position: absolute;
  padding: 35px;
  content: '';
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0,15,45,.6);
  transition: all 400ms linear;
}
.grid-item:hover .image .filter {
  background-color: rgba(0,15,45,0);
}
.grid-item .box {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(52,152,219,0);
  background-color: rgba(0,15,45,0);
  transition: all 400ms linear;
  display: table;
}
.grid-item:hover .box {
  border: 1px solid rgba(52,152,219,1);
  background-color: rgba(0,15,45,.4);
}
.grid-item .box .text {
  display: table-cell;
  vertical-align: middle;
  padding: 35px;
  color: rgba(255,255,255,1);
  text-align: center;
  h3 {
    font-weight: 300;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 28px;
  }
}
@media screen and (min-width: 320px) {
  .grid-sizer,
  .grid-item { width: 100%; height: 400px; }
  /* 2 columns */
  .grid-item--width2 { width: 100%; }
  .grid-item--height2 { height: 400px; }
}
@media screen and (min-width: 768px) {
  .grid-sizer,
  .grid-item { width: 50%; height: 300px; }
  /* 2 columns */
  .grid-item--width2 { width: 50%; }
  .grid-item--height2 { height: 300px; }
}
@media screen and (min-width: 1024px) {
  .grid-sizer,
  .grid-item { width: 33.33333%; height: 300px; }
  /* 2 columns */
  .grid-item--width2 { width: 66.66666%; }
  .grid-item--height2 { height: 600px; }
}